.container {
    display: flex;

}

/* .wrapper {
    background-image: url("https://m.media-amazon.com/images/I/618k26UOJHS._AC_SL1500_.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */


.descripcion {
    margin: 50px;
    font-family: cursive;
    font-size: x-large;
    color: black;
}

img {
    width: 500px;
}

.titulo h2 {
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    color: gold;
    text-shadow: -1px -1px 1px #aaa,
        0px 4px 1px rgba(0, 0, 0, 0.5),
        4px 4px 5px rgba(0, 0, 0, 0.7),
        0px 0px 7px rgba(0, 0, 0, 0.4);
}

.button {
    margin-bottom: 80px;
    margin-left: 20px;
}

.wrapper {
    margin: 0 100px;
}

.group {
    display: flex;
    flex-wrap: wrap;


}