.container {
    display: flex;

}

/* .wrapper {
    background-image: url("https://i.pinimg.com/736x/00/fa/da/00fada870a596b0764c60bd02b73d99d.jpg");
    background-size: auto;
} */

.foto,
.descripcion {
    margin: 50px;
    font-family: cursive;
    font-size: x-large;
    color: black;
}

img {
    width: 500px;
}

.titulo h2 {
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    color: gold;
    text-shadow: -1px -1px 1px #aaa,
        0px 4px 1px rgba(0, 0, 0, 0.5),
        4px 4px 5px rgba(0, 0, 0, 0.7),
        0px 0px 7px rgba(0, 0, 0, 0.4);
}

.button {
    margin-bottom: 80px;
    margin-left: 20px;
}

.mapa {
    align-items: center;
}