<div class="cabecera">
    <figure>
        <img src="https://image.shutterstock.com/image-photo/skye-island-scotland-panorama-area-260nw-1469202971.jpg" alt="">
    </figure>
</div>
<button [routerLink]="['/rutas/new']" routerLinkActive="activo">CREAR UNA NUEVA RUTA</button>
<div class="rutas">
    <div class="ruta" *ngFor="let ruta of arrRutas" [routerLink]="['/rutas', ruta.id]" routerLinkActive="activo">
        <!-- <img [src]="ruta.img" alt=""> -->
        <h3>{{ruta.name}}</h3>
        <p>Distancia: {{ruta.dist}} Km</p>
        <p>Descripcion: {{ruta.descr}}</p>
        <p>Dificultad: {{ruta.dif}}</p>
        <button [routerLink]="['/rutas', ruta.id]" routerLinkActive="activo">IR A LA RUTA</button>
    </div>



</div>