.wrapper {
    background-image: url(https://www.xtrafondos.com/descargar.php?id=120&resolucion=1920x1200);
    background-repeat: no-repeat;
    background-size: cover;
}

.router {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 0 auto;


}


footer {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    padding: 15px;

}

i {
    margin: 5px
}

footer a {
    text-decoration: none;
    color: white;
    display: inline;
}

li {
    list-style: none;

    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.social {
    display: flex;
    text-align: center;
    align-items: center;
}

.login {
    text-decoration: none;
    color: black;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}



@media (min-width:975px) {
    .login {
        right: 40px;

    }
}