<h2>Opiniones
</h2>
<button class="btn btn-dark" [routerLink]="['/rutas',rutaId ,'newReview']" routerLinkActive="activo">Añadir reseña</button>
<div class="reseña" *ngFor="let review of arrReviews">
    <p>Titulo: {{review.title}}</p>
    <hr>
    <p>Comentario: {{review.coment}}</p>
    <div [ngSwitch]="review.val">
        <p *ngSwitchCase="1">Valoracion:⭐</p>
        <p *ngSwitchCase="2">Valoracion:⭐⭐</p>
        <p *ngSwitchCase="3">Valoracion:⭐⭐⭐</p>
        <p *ngSwitchCase="4">Valoracion:⭐⭐⭐⭐</p>
        <p *ngSwitchCase="5">Valoracion:⭐⭐⭐⭐⭐</p>
    </div>
</div>