<div class="container">
    <div class="newComentario">
        <form action="" [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <label class="form-label">Nuevo comentario</label>
            <input type="text" class="form-control" formControlName="comentario">
            <input type="submit" value="Enviar" class="btn btn-dark" [disabled]="!formulario.valid">
        </form>

    </div>

    <button class="btn btn-dark" [routerLink]="['/eventos']" routerLinkActive="activo">Volver a eventos</button>

    <div *ngFor="let comentario of this.comentarios" class="comentario">
        <p>{{comentario.comentario}}</p>
        <p>{{comentario.nickname}}</p>
    </div>

</div>