img {
    width: 100%;
    display: flex;
}

.container h1 {
    padding: 100px;
    color: gold;
    font-size: xxx-large;
    text-align: center;
    text-shadow: -1px -1px 1px #aaa,
        0px 4px 1px rgba(0, 0, 0, 0.5),
        4px 4px 5px rgba(0, 0, 0, 0.7),
        0px 0px 7px rgba(0, 0, 0, 0.4);
}

/* .fa-instagram {

    color: gold;
    font-size: xx-large;
} */

.container {
    height: 700px;
}

.container p {
    color: black;
    margin-left: 100px;
    margin-right: 100px;
}